Repository sdburns1998/runelite, changes with the labels that .github/labeler.yml gives for each.
All labels: cache, cache-client, cache-updater, deobfuscator, http-api, http-service, http-service-plus, injected-client, injector-plugin, protocol, protocol-api, api, client, mixins, rs-api, rs-client, wiki-scraper

Update build.gradle
  cache-updater/build.gradle
Labels: cache-updater

actions: Use other token
  .github/workflows/build.yml
  .github/workflows/issues.yml
  .github/workflows/pull_request.yml
Labels: none

Update build.yml
  .github/workflows/build.yml
Labels: none

Update scraper.yml
  .github/workflows/scraper.yml
Labels: none

Update ClientPanel.java
  runelite-client/src/main/java/net/runelite/client/ui/ClientPanel.java
Labels: client

.github/labeler.yml:

cache: cache/**/*
cache-client: cache-client/**/*
cache-updater: cache-updater/**/*
deobfuscator: deobfuscator/**/*
http-api: http-api/**/*
http-service: http-service/**/*
http-service-plus: http-service-plus/**/*
injected-client: injected-client/**/*
injector-plugin: injector-plugin/**/*
protocol: protocol/**/*
protocol-api: protocol-api/**/*
api: runelite-api/**/*
client: runelite-client/**/*
mixins: runelite-mixins/**/*
rs-api: runescape-api/**/*
rs-client: runescape-client/**/*
wiki-scraper: wiki-scraper/**/*
